*{
    box-sizing: border-box;
    padding: 0px;
    margin-left:5px;
    outline: none;
    position: relative;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
    padding: 0px;
}
body{
    font-family:'Merriweather', serif ;  
}
.new-year-div{
    color: #FFFFFF;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: 50px; /* 131.944% */
padding: 150px;
}
.header{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url('../resources/Banner\ Image.png');
    background-position: center;
    background-size:  cover;
    background-repeat: no-repeat; 
    height:60%;
       
    border-radius: 16px;
    border-radius: 16px;

}
.first-main{    
color: #F00;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.p{
    font-size: 20px;
}
.h{
    font-size: 30px;
    color: black;
}
.HNY{
    border: 2px solid rgb(137, 191, 226);
    width:50%;  
    margin: auto;   
}
.HNY-img{
    width: 100%;
}
.midnight{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url('../resources/Vectorrr.png');
    background-position: center;
    background-size: cover;
height: 450px;
flex-shrink: 0;
    background-repeat: no-repeat;    
    border-radius: 8px;
    border-radius: 8px;
    line-height: 20px;
}
.wel-midnight{
    color: #FFF;
font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: 60px; /* 137.5% */
letter-spacing: 6.04px;
padding:60px 80px 60px 100px;

}
.pera-midnight{
    color: rgba(255, 255, 255, 0.80);
    font-family:'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    padding: 0px 80px 40px 100px;

}
.join-btn{
    color: #FFF;
    text-align: center;
    font-family: 'Inter' sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding-left: 100px;
    background: none;
    border: none;

}
span{
    color: #F00;
}
.add-join-btn{
    background-color:#F00;
    border: none;
    color: #FFF;
    padding: 15px;
    font-family: 'Inter' sans-serif;
}
.address{
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    
    border: 2px solid rgb(120, 148, 224);
    size: cover;  
    margin: auto;
    padding: 100px;
    
    
}
.holiday{
    display: flex;
   justify-content: space-between;
    align-items: center;
    margin: 30px;
    gap: 0 25px;
    justify-content: center;
    position: fixed;
   
    
}
               
.h6-holiday{
    color: #F00;
font-family: 'Inter';
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.h2-holiday{
    color: #070211;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
  
}
.p-holiday{
    color: rgba(2, 0, 7, 0.6);
font-family: 'Inter';
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */

}
.ellipse{
    width: 284.844px;
height: 284.844px;
flex-shrink: 0;
border:5px solid #F00;
border-radius:184.844px 184.844px ;
padding: 10px;
}

.year-holiday{
    color: #F00;
font-family: 'Inter';
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-right:5px;
}
.small-HNY{
    height:55px;
    width: 55px;
}
.functional{
    color: #070211;
font-family: 'Inter';
font-size: 16px;
font-style: normal;
font-weight: 500;
text-align: center;

}
.holi-sale{
    color: #F00;
text-align: center;
font-size: 42px;
font-style: normal;
font-weight: 900;

}
.sale-pera{
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-family: 'Inter';
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 160% */
    padding:0 50px 0 50px;
}
.many-pic-one{
    width: 398.77px;
    height: 345.319px;
    flex-shrink: 0;


}
.many-pic-two{
    width: 186.841px;
height: 186.841px;
flex-shrink: 0;

}
.many-pic-3{
    width: 229px;
height: 233px;
flex-shrink: 0;

}
.many-pic-4{
    width: 870px;
height: 100px;
flex-shrink: 0;


}
.best-gift{
    font-size: small;
    color: #F00;
    font-family: 'Inter';
}
.awesome{
    color: #070211;
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.product-des{
    color: rgba(7, 2, 17, 0.60);
font-family: 'Inter';
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 160% */

}
.img-six{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.pro-img{
    width: 100%;
}
.subscribe-container{
    border-radius: 5px;
    background: rgba(255, 0, 0, 0.05);
}
.img-email1{
    padding: 2% 45%;

}
.subscribe-new{
    color: #070211;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
}
.subscribe-para{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: 'Inter';
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 20 px; /* 160% */
}
.textarea{
    border: none;
    border-radius: 30px ;
background: #FFF;
   padding-top: 1%;
   padding-left: 2%;
   padding-bottom:0;
   margin-left: 30%;
}
.subscribe-btn {
    padding: 1%;
    border-radius: 30px;
    width: 15%;
    background-color:#F00 ;
    color:#FFF;
    border: none;
 
}
.textarea-div{
    display: flex;
    gap: 0px;
}
@media screen and (max-width:576px)
{
    header, footer, main{
        flex-direction: column;
    }
}