body{
    font-family:'Merriweather', serif ;
}
.new-year-div{
    color: #FFFFFF;
text-align: center;
font-size: 30px;
font-style: normal;
font-weight: 900;
line-height: 50px; /* 131.944% */
padding: 150px;
}
.header{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url('../resources/Banner\ Image.png');
    background-position: center;
    background-size:970px 500px;
    background-repeat: no-repeat;    
    border-radius: 16px;
    border-radius: 16px;
   



}